*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: black;
    height: 65px;
}

.nav1-left a{
    color:#e6e6e8;
    text-decoration: none;
}

.nav1-right a{
    font-size: 14px;
}

a:hover{
    text-decoration: none;
    opacity: 1.0;
    color:#e6e6e8;
    transition: 0.1s ease;
}

.follow:hover, .sign-up{
    background-color:#47cf73;
}

.marcin:hover, .projekt, .follow, .log-in, .eye{
    color: white;
}

.log-in, .eye{   
    background-color: #444857;
    opacity: 0.8;
}

.sign-up{
    color: black;
}

.sign-up:hover{
    background-color: darkgreen;
    color: black;
}

.codepen{
    width: 45px;
    height: 45px;
    color:#444857;
    display: block;
    float: left;
    padding: 6px;
}

.projekt{
    font-size: 20px;
    font-weight: bold;
}

.marcin, .follow, .projekt{
    display: inline-block;
}

.marcin{
    font-size: 12px;
}

.follow{
   font-size: 10px;
   background-color: #5a6074;
   border-radius: 10%;
   padding: 1px 6px;
}

.heart{
    border: 3px solid #adafbc;
    border-radius: 10px;
    padding: 10px 10px;
    margin: 3px;
}

.heart-img{
    height: 60px;
    padding: 20px 5px;
    align-self: baseline;
}

.heart:hover{
    background-color: #5a6074;
}

.eye{
    border-radius: 10px;
    display: inline-block;
    padding: 10px 20px;
    margin: 3px;
}

.eye-img{
    width: 25px;
    margin-right: 5px;
}

.log-in, .sign-up{
    margin: 3px;
    border-radius: 10px;
    padding: 15px 25px;
    display: inline-block;
    padding: 10px 20px;
}
