

$gray-color: #5a6074;
$white-color: white;
$dark-red-color: darkred;
$ligth-green-color: #47cf73;
$cream-color: #e6e6e8;
$blue-color: #324ead;
$light-blue-color: #228ce1;
$red-color: red;

$darkred-2px-border: 2px solid darkred;
$darkblue-2px-border:2px solid darkslateblue;
$blue-1px-border: 1px solid $blue-color;