$gray-color: #5a6074;
$white-color: white;
$dark-red-color: darkred;
$ligth-green-color: #47cf73;
$cream-color: #e6e6e8;
$red-color: red;
$light-pink-color: #d07c7c;
$black-color: black;
$intense-green-color: #329445;
$darkred-2px-border: 2px solid darkred;