@import "./utils/variables.scss";
@import "./utils/mixins.scss";
@import "./base/typography.scss";
@import "./base/layout.scss";
@font-face {
    font-family: Roboto;
    src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: $margin-0;
    padding: $margin-0;
    font-family: "Roboto";
}

.main-img {
    position: relative;
    width: $width-95;
    margin-top: $margin-5;
}

.headers {
    position: absolute;
    color: $white-color;
    top: 15rem;
    right: 0;
    left: 0;
    h6 {
        line-height: 90px;
        font-size: 1rem;
    }

    h5 {
        font-size: 1.2rem;
    }
    
    h1 {
        font-size: 2rem;
    }
}

.h1after:after {
        @include after-underline ($white-color);
}

.about:after {
    @include after-underline ($red-color);
}


.menu {
    height: 68px;
    position: relative;
    padding-right: 90px;
    border-bottom: $darkred-2px-border;
}

.nav2 {
    display: block;
    float: right;
    border-bottom: $darkred-2px-border;
    height: 50px;
    .nav-item {
        text-transform: uppercase;
        color: $gray-color;
        &:hover {
            color: $light-pink-color;
            transition: 0.3s;
            border-bottom: $darkred-2px-border;
        }
    }
}

.lorem {
    margin-top: 4vh;
    width: $width-70;
    margin: $margin-5vh-auto-10vh-auto;
    text-align: center;
}

.about {
    @include h2-position-relative;
}

.video-frame-content {
    width: $width-90;
    height: 500px;
}

.navbar {
    background-color: $black-color;
    height: 68px;
    .nav1-left a {
        color: $cream-color;
        text-decoration: none;
    }
    .nav1-right a {
        font-size: 1rem;
        padding: 0.7rem 1rem;
    }
}

a:hover {
    text-decoration: none;
    color: $cream-color;
    transition: 0.1s ease;
}

.follow:hover,
.sign-up {
    background-color: $ligth-green-color;
}

.marcin:hover,
.projekt,
.follow,
.log-in,
.eye {
    color: $white-color;
}

.log-in,
.eye {
    background-color: $gray-color;
    opacity: 0.8;
}

.sign-up {
    color: $black-color;
    &:hover {
        background-color: $intense-green-color;
    }    
}

.codepen {
    width: 45px;
    height: 45px;
    color: $gray-color;
    display: block;
    float: left;
    padding: 6px;
}

.projekt {
    font-size: 1.2rem;
    font-weight: bold;
}

.marcin,
.follow,
.projekt {
    display: inline-block;
}

.marcin {
    font-size: 0.8rem;
}

.follow {
    font-size: 0.7rem;
    background-color: $gray-color;
    border-radius: 10%;
    padding: 1px 6px;
}

.heart {
    border-radius: 10px;
    display: inline-block;
    height: 47px;
    background-color: black;
    border: 2px solid $gray-color;
    &:hover {
        background-color: #5a6074;
    }
}

.heart-img {
    width: 25px;
}

.eye {
    @include menu-text-button;
}

.eye-img {
    width: 25px;
    margin-right: 5px;
}

.log-in,
.sign-up {
    @include menu-text-button;
}

.tech {
    @include centered-item($width-100);
    margin-top: 80px;
    height: $width-100;
    .tech-img:hover {
        filter: brightness(40%);
        transition: 1s ease-in-out;
    }
}

.video-frame {
    @include centered-item($width-90);
}

.formular {
    @include formular-regular("../../assets/form-b.jpg");
}

.form-container {
    width: $width-70;
}

input {
    @include input-regular;
}

textarea {
   @include textarea-regular;
}

.send {
    @include red-button(100px);
}

.form-container p {
    text-align: left;
    width: $width-70;
}

@media (max-width: 850px) {
    .navbar {
        height: 60px;
    }

    .eye-text {
        display: none;
    }

    .eye-img {
        margin-right: 0px;
    }

    .nav1-left,
    .nav1-right {
        margin-top: -5px;
    }
}

@media (max-width: 750px) {
    .eye {
        display: none;
    }
}

@media (max-width: 600px) {
    .heart {
        display: none;
    }

    .marcin,
    .nav1-right a {
        font-size: 0.8rem;
    }

    .nav1-right a {
        padding: 8px;
    }

    .projekt {
        font-size: 1rem;
    }

    .follow {
        font-size: 0.6rem;
    }
}

@media (max-width: 470px) {
    .codepen {
        display: none;
    }
}

@media (max-width: 1000px) {
    .main-img {
        width: $width-100;
        margin-top: $margin-0;
    }

    .headers {
        top: 10rem;
    }

    .headers h1 {
        margin-bottom: 0px;
    }
}

@media (max-width: 810px) {
    .headers {
        top: 7rem;
    }
}

@media (max-width: 700px) {
    .computer-studies {
        height: 90vh;
    }

    .main-img {
        height: 90vh;
        object-fit: cover;
    }

    .headers {
        top: 50%;
    }
    .video-frame-content {
        height: 300px;
    }
}

@media (max-width: 550px) {
    .video-frame-content {
        height: 200px;
    }
}

@media (max-width: 1200px) {
    .form-container {
        width: $width-90;
    }
}

@media (max-width: 900px) {
    .formu {
        margin: $margin-8-15-2-15;
    }
}