@import "./utils/variables.scss";
@import "./utils/mixins.scss";
@import "./base/typography.scss";
@import "./base/layout.scss";
@import "./base/mediaqueries.scss";

@font-face {
    font-family: Roboto;
    src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: $margin-0;
    padding: $padding-0;
    font-family: "Roboto";
}

.main-img {
    position: relative;
    width: $width-95;
    margin-top: $margin-5;
}

.headers {
    position: absolute;
    color: $white-color;
    top: 15rem;
    right: 0;
    left: 0;
    h6 {
        line-height: $line-height-large;
        font-size: $font-size-m;
    }

    h5 {
        font-size: $font-size-l;
    }
    
    h1 {
        font-size: $font-size-xl;
    }
}

.h1after:after {
        @include after-underline ($white-color);
}

.about:after {
    @include after-underline ($red-color);
}


.menu {
    height: 68px;
    position: relative;
    padding-right: $padding-90;
    border-bottom: $darkred-2px-border;
}

.nav2 {
    float: right;
    border-bottom: $darkred-2px-border;
    .nav-item {
        text-transform: uppercase;
        color: $gray-color;
        
    }
    .nav-item:hover {
        color: $light-pink-color;
        transition: 0.3s;
        border-bottom: $darkred-2px-border;
    }
}

.lorem {
    margin-top: $margin-5;
    width: $width-70;
    margin: $margin-5vh-auto-10vh-auto;
    text-align: center;
}

.about {
    @include h2-position-relative;
}

.video-frame-content {
    @include frame-template($width-90, 500px);
}

.navbar {
    background-color: $black-color;
    height: 68px;
    .nav1-left a {
        color: $cream-color;
    }
}

a:hover{
    text-decoration: none;
}

.log-in,
.eye {
    background-color: $gray-color;
    color: $white-color;

    &:hover{
        color: $cream-color;
    }
}



.codepen {
    @include icon-standard(45px, 45px, 6px);
    float: left;
}

.projekt {
    font-size: $font-size-l;
    font-weight: bold;
}

.marcin {
    font-size: $font-size-s;
}

.follow {
    @include small-button;
    &:hover{
        background-color: $ligth-green-color;
    }
}

.heart {
    @include icon-standard(55px, 55px, 10px);
    @include border-rounded(10px, $gray-color);
    background-color: $black-color;   
    &:hover {
        background-color: $gray-color;
    }
}

.heart-img {
    @include icon-standard(25px, 25px, 0px);
}

.eye,
.log-in,
.sign-up {
    @include menu-text-button;
}

.sign-up {
    @include sign-up-button;  
}

.eye-img {
    @include icon-standard(40px, 20px, 0px);
    padding-right: 10px;
}


.tech {
    @include centered-item($width-100);
    margin-top: 80px;
    height: $width-100;
    .tech-img:hover {
        filter: brightness(40%);
        transition: 1s ease-in-out;
    }
}

.video-frame {
    @include centered-item($width-90);
}

.formular {
    @include formular-regular("../../assets/form-b.jpg");
}

.form-container {
    width: $width-70;
}

input {
    @include input-regular;
}

textarea {
   @include textarea-regular;
}

.send {
    @include red-button(100px);
}

.form-container p {
    text-align: left;
    width: $width-70;
}
